# Server Port
PORT=3000

# Admin Panel Paroli
ADMIN_PASSWORD=marjona202

# Neon PostgreSQL Connection String
# console.neon.tech saytidagi loyihangizdan olingan connection string ni bu yerga qo'ying:
# Masalan: postgresql://neondb_owner:password@ep-something.eu-central-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=
